.mail-app {
    min-height: 100vh;
}

.mail-app-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;

}

.mail-list {
    width: 100%;
}

.mail-side-bar {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 256px;
    /*color: #65676c;*/
    color: #4d4f52;
    margin-right: 15px;
}

.side-bar-el {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
    padding-left: 26px;
    padding-right: 12px;
    font-family: sans-serif;
    font-size: .875rem;
}

.mail-side-bar-btn:first-child {
    font-weight: bold;
}

.side-bar-el .counter {
    position: absolute;
    right: 12px;
}

svg {
    width: 40px;
    height: auto;
    /*fill: #65676c;*/
    fill: #4d4f52;
}

.mail-side-bar svg {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    /*fill: #202124;*/
    fill: #4d4f52;
}

.mail-side-bar-btn {
    height: 32px;
    border-radius: 0 40px 40px 0px;
}

.mail-side-bar-btn:hover {
    background-color: #f1f3f4;
    cursor: pointer;
}

.mail-side-bar-btn:active {
    background-color: #e8eaed;
    cursor: pointer;
}

.mail-side-bar-btn:focus {
    background-color: #e8eaed;
    font-weight: bold;
}

.mail-side-bar-btn:first-child:focus {
    background-color: #fce8e6;
    color: #d93025;
}

.mail-side-bar-btn:first-child svg:focus {
    fill: #d93025;
}

.mail-list {
    margin-bottom: 20px;
}

.mail-list-container {
    border-top: 1px solid #dfdfdf;
    padding: 10px;
    min-height: 40px;
    display: flex;
    align-items: center;
    font-family: sans-serif;
}

.mail-list-container:last-child {
    border-bottom: 1px solid #dfdfdf;
}

.mail-list-container:hover {
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
    z-index: 2;
}

.mail-list-container:hover .options {
    opacity: 1;
}

.mail-preview-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.mail-preview-container svg {
    width: 20px;
    height: auto;
    margin-right: 10px;
    opacity: .7;
}

.mail-subject {
    /*width: 90%;*/
    height: 20px;
    overflow: hidden;
}

.mail-to {
    width: 300px;
    padding-right: 20px;
}

.mail-subject {
    display: inline-flex;
    padding-right: 25px;
}

.mail-subject p:first-child {
    font-weight: bold;
    padding-right: 5px;
}

.mail-date {
    min-width: 120px;
    padding-right: 20px;
    display: none;
}

.mail-preview-container .options {
    background: #fff;
    position: absolute;
    right: 20px;
    width: 117px;
    /*height: 100%;*/
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all .1s;
}

/*.mail-preview-container .options svg:after{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50px;
    background-color: green;
}*/
.mail-preview-container .options svg:hover {
    position: relative;
    cursor: pointer;
}

/*.mail-preview-container .options:before{
    content: "... ";
    padding-right: 20px;
}*/
.mail-open-container h3 {
    padding: 10px 0;
    margin-top: 5px;
    margin-bottom: -6px;
}

.mail-open-container p {
    font-size: .9rem;
    margin-bottom: 15px;
}

.mail-body {
    max-width: 100ch;
}

.mail-options svg {
    width: 20px;
    height: auto;
    margin-right: 10px;

}

.filters-container {
    padding-bottom: 25px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.compose-mail-btn {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    width: 180px;
    border-radius: 20px;
    border: 1px solid lightgray;
    position: relative;
    align-items: self-end;
    justify-content: center;
}

.compose-mail-btn svg {
    width: 30px;
    height: auto;
    fill: green;
}

.compose-mail-btn:hover {
    cursor: pointer;
    border: 1px solid rgb(158, 157, 157);
}

.mail-details {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.main-details-container {
    border: solid;
    height: 70%;
    padding: 10px;
    margin-top: 20px;
    display: flex;
    cursor: pointer;
    flex-direction: column;
}


/* search bar mail */