.app-footer,
.app-header {
    height: 10vh;
    text-align: center;
    background-color: rgb(3, 44, 68);
    color: white;
    font-family: 'Lato', sans-serif;

}


.app-header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}


.nav-links {
    padding: 10px;
    margin: 15px;
}

.header-link {
    color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    font-size: 1rem

}

.header-link:hover {
    color: #cfd9df;
    padding: 10px;
}

.header-link:active {
    color: #cfd9df;
    padding: 10px;
}

.logo {
    height: 55px;
    margin-left: 20px;
    color: white;
    font-size: 2rem;
}