* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

body {
    margin: 0;
}


/* .app-footer,
.app-header */
.app-footer,
.app-header {
    background: linear-gradient(#EE4E34, #353333);
    height: 5vh;
    text-align: center;

}


/* app-main */
.app-main {
    min-height: diff;
    max-width: 100vw;
    background-color: #FCEDDA;

}