.note-add {
    background-color: #fff;
    padding: 10px 0;
    width: 600px;
    margin: auto;
    max-width: 100%;
}

.note-add-container {
    padding: 1.5em;
}

.add-start {
    display: block;
    padding: 0.5em 1em;
    line-height: 1.5em;
    border-color: transparent;
    outline: none;
    height: fit-content;
    width: 100%;
    max-width: 100%;
}

.actions-add {
    justify-content: flex-end;
    font-size: 30px;
    letter-spacing: 7px;
    transition: 0.4s;
    cursor: pointer;
}

.actions-add>*:hover {
    color: rgb(37, 162, 184);
    transition: 0.4s;
}