.note-list {
    margin: auto;
    columns: 3 200px;
    max-width: 1000px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
=======
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-flow: dense;
    overflow: auto;
    padding: 1rem;
    gap: 1rem; */


}


/* note-todo */
.complete {
    text-decoration: line-through;
>>>>>>> 17ff4cace27abbad2e5dd6bd22bc1041b2339241
}