.note-list {
    margin: 0 auto;
    columns: 3 200px;
    max-width: 1000px;
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-auto-flow: dense;
    overflow: auto;
    padding: 1rem;
    gap: 1rem; */


}


/* note-todo */
.complete {
    text-decoration: line-through;
}